<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tournament-putting-analysis-heading">Create or edit a Tournament Putting Analysis</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_playerId">Player Id</label>
                    <input type="number" class="form-control" name="playerId" id="field_playerId"
                           formControlName="playerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tournamentId">Tournament Id</label>
                    <input type="number" class="form-control" name="tournamentId" id="field_tournamentId"
                           formControlName="tournamentId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_courseId">Course Id</label>
                    <input type="number" class="form-control" name="courseId" id="field_courseId"
                           formControlName="courseId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_roundOneId">Round One Id</label>
                    <input type="number" class="form-control" name="roundOneId" id="field_roundOneId"
                           formControlName="roundOneId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_roundTwoId">Round Two Id</label>
                    <input type="number" class="form-control" name="roundTwoId" id="field_roundTwoId"
                           formControlName="roundTwoId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_roundThreeId">Round Three Id</label>
                    <input type="number" class="form-control" name="roundThreeId" id="field_roundThreeId"
                           formControlName="roundThreeId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_roundFourId">Round Four Id</label>
                    <input type="number" class="form-control" name="roundFourId" id="field_roundFourId"
                           formControlName="roundFourId"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
