<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tournament">
            <h2><span>Tournament</span> {{tournament.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{tournament.name}}</span>
                </dd>
                <dt><span>Season</span></dt>
                <dd>
                    <span>{{tournament.season}}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{tournament.startDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{tournament.endDate}}</span>
                </dd>
                <dt><span>Purse</span></dt>
                <dd>
                    <span>{{tournament.purse}}</span>
                </dd>
                <dt><span>Course Id</span></dt>
                <dd>
                    <span>{{tournament.courseId}}</span>
                </dd>
                <dt><span>Pga Id</span></dt>
                <dd>
                    <span>{{tournament.pgaId}}</span>
                </dd>
                <dt><span>Pga Season Id</span></dt>
                <dd>
                    <span>{{tournament.pgaSeasonId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tournament', tournament.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
