<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fairwaysHit">
            <h2><span>Fairways Hit</span> {{fairwaysHit.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Player Id</span></dt>
                <dd>
                    <span>{{fairwaysHit.playerId}}</span>
                </dd>
                <dt><span>Tournament Id</span></dt>
                <dd>
                    <span>{{fairwaysHit.tournamentId}}</span>
                </dd>
                <dt><span>Course Id</span></dt>
                <dd>
                    <span>{{fairwaysHit.courseId}}</span>
                </dd>
                <dt><span>Hole 1</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole1}}</span>
                </dd>
                <dt><span>Hole 2</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole2}}</span>
                </dd>
                <dt><span>Hole 3</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole3}}</span>
                </dd>
                <dt><span>Hole 4</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole4}}</span>
                </dd>
                <dt><span>Hole 5</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole5}}</span>
                </dd>
                <dt><span>Hole 6</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole6}}</span>
                </dd>
                <dt><span>Hole 7</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole7}}</span>
                </dd>
                <dt><span>Hole 8</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole8}}</span>
                </dd>
                <dt><span>Hole 9</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole9}}</span>
                </dd>
                <dt><span>Hole 10</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole10}}</span>
                </dd>
                <dt><span>Hole 11</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole11}}</span>
                </dd>
                <dt><span>Hole 12</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole12}}</span>
                </dd>
                <dt><span>Hole 13</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole13}}</span>
                </dd>
                <dt><span>Hole 14</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole14}}</span>
                </dd>
                <dt><span>Hole 15</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole15}}</span>
                </dd>
                <dt><span>Hole 16</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole16}}</span>
                </dd>
                <dt><span>Hole 17</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole17}}</span>
                </dd>
                <dt><span>Hole 18</span></dt>
                <dd>
                    <span>{{fairwaysHit.hole18}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fairways-hit', fairwaysHit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
